# Auth0 SDK Configuration
REACT_APP_AUTH0_DOMAIN=dev-6b5z6dp0jbdcpemo.us.auth0.com
REACT_APP_AUTH0_CLIENT_ID=JT0tDZ440nAaiIbxM8Gc0aqsvjkgwb3s
REACT_APP_AUTH0_CALLBACK_URL=https://dev.abnet.net:4041/callback
REACT_APP_API_SERVER_URL=http://localhost:6060
REACT_APP_AUTH0_ORG_ID=org_oQjFgBxe53BjqHPc
REACT_APP_AUTH0_API_AUDIENCE_URL=https://api.abacus.net

# ISC Configuration
REACT_APP_ISC_MARKETPLACE_LINK_ONE=https://dev.event-helper.com:4040/profile
REACT_APP_ISC_MARKETPLACE_LINK_ONE_LABEL='Event Helper Profile'
REACT_APP_ISC_TITLE='ISC - Abnet'

# Local HTTPS Configuration. Required for auto-authorization of trusted APIs
HOST=dev.abnet.net
PORT=4041
HTTPS=true
SSL_CRT_FILE=.cert/abnet/dev.abnet.net.crt
SSL_KEY_FILE=.cert/abnet/dev.abnet.net.key