# Auth0 SDK Configuration
REACT_APP_AUTH0_DOMAIN=dev-6b5z6dp0jbdcpemo.us.auth0.com
REACT_APP_AUTH0_CLIENT_ID=yqqnjPjTBkJUSdmJ8NjesfCkMhAJ9yvd
REACT_APP_AUTH0_CALLBACK_URL=https://dev.event-helper.com:4040/callback
REACT_APP_API_SERVER_URL=http://localhost:6060
REACT_APP_AUTH0_ORG_ID=org_RADLLj4tGtQPg17T
REACT_APP_AUTH0_API_AUDIENCE_URL=https://event-helper.isc.com

# ISC Configuration
REACT_APP_ISC_MARKETPLACE_LINK_ONE=http://localhost:4141/profile
REACT_APP_ISC_MARKETPLACE_LINK_ONE_LABEL='OMGA Profile'
REACT_APP_ISC_TITLE='ISC - Event Helper'

# Local HTTPS Configuration. Required for auto-authorization of trusted APIs
HOST=dev.event-helper.com
PORT=4040
HTTPS=true
SSL_CRT_FILE=.cert/event-helper/dev.event-helper.com.crt
SSL_KEY_FILE=.cert/event-helper/dev.event-helper.com.key